version: "3"

services:
  app:
    image: mavedb-api/mavedb-api:latest
    build:
      context: .
      target: application
    command: bash -c "uvicorn mavedb.server_main:app --host 0.0.0.0 --port 8000 --ssl-keyfile=./ssl/server.key --ssl-certfile=./ssl/server.cert"
    depends_on:
      - db
      - redis
    env_file:
      - settings/.env.prod
    environment:
      DB_HOST: db
      DB_PORT: 5432
    ports:
      - "8444:8000"
    restart: unless-stopped

  worker:
    image: mavedb-api-worker/mavedb-api-worker:latest
    build:
      context: .
      target: worker
    command: bash -c "arq src.mavedb.worker.WorkerSettings"
    env_file:
      - settings/.env.prod
    environment:
      DB_HOST: db
      DB_PORT: 5432
      REDIS_IP: redis
      REDIS_PORT: 6379
    depends_on:
      - db
      - redis
    restart: unless-stopped

  db:
    image: postgres:14
    env_file:
      - settings/.env.prod
    restart: unless-stopped
    ports:
      - "5434:5432"
    volumes:
      - mavedb-data:/var/lib/postgresql/data

  redis:
    image: redis:7.2.3
    env_file:
      - settings/.env.prod
    ports:
      - "6381:6379"
    volumes:
      - mavedb-redis:/data

#  rabbitmq:
#    image: rabbitmq:3.8.3
#    ports:
#      - "5673:5672"

volumes:
  mavedb-data:
  mavedb-redis:
