alembic~=1.7.6
authlib~=0.15.5
celery~=5.2.3
cryptography~=37.0.4
eutils~=0.6.0
fastapi~=0.71.0
# fastapi-oidc~=0.0.9
fqfa~=1.2.3
IDUtils~=1.2.0
jsonschema~=4.17.3
mavehgvs~=0.6.0
numpy~=1.22.3
orcid~=1.0.3
pandas~=1.4.1
psycopg2~=2.9.3
pydantic~=1.9.1
pyhumps~=3.8.0
pytest~=7.0.1
python-dotenv~=0.20.0
python-jose[cryptography]~=3.3.0
python-multipart~=0.0.5
requests~=2.28.1
slack-sdk~=3.21.3
SQLAlchemy~=1.4.31
starlette~=0.17.1
uvicorn[standard]
