####################################################################################################
# Environment variables for mavedb-api
####################################################################################################

DB_DATABASE_NAME=mavedb
DB_USERNAME=postgres
DB_PASSWORD=postgres
NCBI_API_KEY=abc

####################################################################################################
# Environment variables for postgres
####################################################################################################

POSTGRES_DB=mavedb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

####################################################################################################
# Environment variables for Slack
####################################################################################################

SLACK_WEBHOOK_URL=
